section {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    font-size: 24px;
}

img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

mat-card{
    background-color: lightblue;
    padding: 3%;
}

div{
    padding: 1%;
}