<div class="container-dialog">
    <table mat-table [dataSource]= "dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="ROL">
            <th mat-header-cell *matHeaderCellDef> ROL </th>
            <td mat-cell *matCellDef="let element"> 
            <mat-chip> {{element.name}} </mat-chip>  
            </td>
        </ng-container>
        <ng-container matColumnDef="ACCIONES">
            <th mat-header-cell *matHeaderCellDef> SELECCIONAR </th>
            <td mat-cell *matCellDef="let element">
                <mat-checkbox (change)="toggleSelectRole($event.checked, element)" 
                [checked]="roleIsSelected(element)" [disabled]="isOnlyOneRoleSelected(element)"></mat-checkbox> 
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="button-separation-container content-center">
        <button mat-stroked-button matStepperPrevious type="button" (click)="closeDialog()">Cancelar</button>
        <button mat-flat-button matStepperNext type="button" (click)="enviarFormulario()">Confirmar</button>
    </div>
</div>
