:host {
  display: block;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

.button-row {
  display: flex;
  gap: 10px;
}

.hero {
  padding: 4rem 2rem;
  background: linear-gradient(145deg, #e3f2fd, #ffffff);
  text-align: center;

  .hero-content {
    max-width: 800px;
    margin: auto;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
}

.features {
  padding: 3rem 2rem;
  background-color: var(--mat-sys-primary);

  .section-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .features-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
  }

  .feature-card {
    padding: 1rem;
    transition: transform 0.3s ease;
    &:hover {
      transform: translateY(-5px);
    }
  }
}

.tech {
  padding: 4rem 2rem;
  background: #e3f2fd;
  text-align: center;

  .tech-content {
    max-width: 700px;
    margin: auto;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
}

.mascot-img {
  height: 250px !important;
  width: auto;
  display: flex;
  margin: 2rem auto 0 auto;
}

