<mat-toolbar>
    <span> Bienvenidos a Smile Clinic! </span>
    <span class='spacer'></span> <!-- espacio en medio -->
    <div class='button-row'>
      <button mat-flat-button aria-label="login button" (click)="redirectToLoginPage()">Iniciar sesión</button>
      <button mat-flat-button class="button-secondary" aria-label="sign up button" (click)="redirectToSignUpPage()">Registrarse</button>
    </div>
</mat-toolbar>

<div styles="height: 100vh">
    <mat-card fxFlex="60">
      <mat-card-content>
        <button mat-button (click)="greet()" matTooltip="Click for a surprise ;D">Click me!</button>
      </mat-card-content>
    </mat-card>
</div>