.table-wrapper{
    /* margin-top: 1%; */
}

.filters-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}

.add-user{
    margin-right: 3%;
}

mat-chip{
    margin: 5px;
}