<div class="filters-action">
    <mat-form-field>
        <mat-label>Filtro nombre</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar usuario... " #input>
    </mat-form-field>

    <button mat-icon-button class="add-user">
        <mat-icon> person_add </mat-icon>
    </button>
</div>

<div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="USUARIO">
            <th mat-header-cell *matHeaderCellDef>USUARIO</th>
            <td mat-cell *matCellDef="let element">{{element.username}}</td>
        </ng-container>
        <ng-container matColumnDef="NOMBRE">
            <th mat-header-cell *matHeaderCellDef>NOMBRE</th>
            <td mat-cell *matCellDef="let element">{{ element.firstName + ' ' + element.lastName1 + ' ' + element.lastName2 }}</td>
        </ng-container>
        <ng-container matColumnDef="ROLES">
            <th mat-header-cell *matHeaderCellDef>ROLES</th>
            <td mat-cell *matCellDef="let element">
            @if(element.roles){
                @for(role of element.roles; track role.id){
                    <mat-chip>{{role.name}}</mat-chip>
                }
            } @else {
                <mat-chip>noRole</mat-chip>
            }
            </td>
        </ng-container>
        <ng-container matColumnDef="ACCIONES">
            <th mat-header-cell *matHeaderCellDef>ACCIONES</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                </button>

                <button mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons>
    </mat-paginator>
</div>

  