.patient-form-field{
    padding-right: 2%;
    width: 40%;
}

.patient-form{
    padding-top: 0;
}

.cdk-overlay-pane.mat-mdc-dialog-panel{
    min-width: 800px !important;
    min-height: 600px !important;
}

.diseases-select{
    width: 50%;
    margin-right: 40%;
    padding-bottom: 0%;
}