
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

html {

  @include mat.theme((
    color: (
      theme-type: light, //dark light
      primary: mat.$cyan-palette,
      tertiary: mat.$green-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

}/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%; 
  background-color: var(--mat-sys-background);
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Secondary color (gray) */
:root {
  --secondary-color: rgba(0, 0, 0, 0.2);  //gray
}

/* Adding styles to group of buttons when placed together */
:root .button-row {
  display: table-cell;
  max-width: 600px;
}

:root .button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

:root {
  @include mat.button-overrides((
    text-label-text-weight: 2px,
  ));
}

/* Secondary button styles */
:root .button-secondary{
  @include mat.button-overrides((
    filled-label-text-color: black, //text black
    filled-container-color: rgba(0,0,0,0.2), //gray background
  ));
}

:root .snack-bar-error{
  @include mat.snack-bar-overrides((
    supporting-text-color: var(--mat-sys-error),
  ));
}

:root .snack-bar-success{
  @include mat.snack-bar-overrides((
    supporting-text-color: var(--mat-sys-tertiary),
  ));
}

:root {
  @include mat.toolbar-overrides((
    container-background-color: var(--mat-sys-surface-tint),
    container-text-color: var(--mat-sys-on-primary),
  ));
}

:root thead, th{
    background: var(--mat-toolbar-container-background-color, var(--mat-sys-surface)) !important;
    color: var(--mat-sys-background) !important; 
}

:root .mat-mdc-paginator-page-size-label {
  display: none !important;
}

.lateral-dialog {
  height: 100vh; 
  width: 40%;
  position: fixed !important; 
  top: 0;
  right: 0; 
  border-radius: 0;
  box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.2); 
  overflow-y: auto; 
  background: var(--mat-sys-on-primary); 
  flex-direction: column;
}


@media screen and (max-width: 768px) {
  .lateral-dialog {
    width: 80%;
  }
}

:root .cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 1000px !important;
  min-width: 800px !important;
}

:root .sys-info-container {
  background-color: var(--mat-sys-secondary-fixed-dim); 
  border-bottom: 3px solid var(--mat-sys-primary); 
  padding: 16px;
  line-height: 24px;
  display: flex;
  align-items: center; /* Align icon and text vertically */
  gap: 8px; /* Add spacing between icon and text */
}