<div>
    @for(row of rows; track row){
        <div class="teeth-row">
            @for(teeth of row; track teeth.id){
                <div class="teeth-div">
                    <mat-card class="teeth-card" (click)="openTeethDetailDialog(teeth)">
                        <span></span>
                        <mat-card-footer>
                            {{teeth.code}}
                        </mat-card-footer>
                    </mat-card>
                </div>
            }
        </div>
    }
</div>