.container-dialog {
    height: 100%;
    padding: 2%;
    background-color: var(--mat-sys-surface-dim);
    margin-bottom: 10px;
    
}

tr{
    background: var(--mat-sys-surface-dim);
}

mat-chip{
    background-color: var(--mat-sys-surface) !important;
}