.sidenav-container {
    height: 100%;
}

mat-sidenav {
  height: 100%;
  border-right: 1px solid #ccc;
  max-width: 20%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

mat-sidenav a.mat-mdc-list-item{
  border-radius: 0px !important;
  //border-bottom: 1px solid rgba(0, 106, 106, 0.5);
  max-width: 90%;
}

mat-expansion-panel{
  box-shadow: none !important;
  min-width: 15%;
}

mat-sidenav{
  min-width: 20%;
  
}

@media screen and (max-width: 500px) {
  mat-sidenav{
    width: 80%; 
  }
}

mat-panel-title{
  display: inline-flex;

}

mat-panel-title mat-icon{
  padding-right: 1%;
}

mat-icon{
  color: var(--mat-sys-primary);
  padding-right: 5% !important;
}

/* 
  Ocultar los iconos del menu lateral en pantallas pequeñas
*/

.menu-text{
  padding-left: 5%;
}

@media (max-width: 660px) {
  /* Hide text and show only icons */
  .menu-text {
    display: none;
  }
}

mat-sidenav {
  min-width: 120px;
}

@media (min-width: 661px) {
  /* Hide text and show only icons */
  mat-sidenav {
    min-width: 200px;
  }
}

.mdc-text-field--filled:not{
  background-color: transparent !important;
}

.mat-mdc-form-field {
  display: ruby;
}

::ng-deep .mat-select-panel {
  transform: translateX(-100%) !important;
}

::ng-deep .no-underline .mat-form-field-underline {
  display: none !important;
}


// TODO: Arreglar alignment del menú lateral

/* .mat-mdc-list-item-unscoped-content .mdc-list-item__primary-text{
  display: flex;
} */