.sidenav-container {
    height: 100%;
}

mat-sidenav {
  height: 100%;
  border-right: 1px solid #ccc;
  max-width: 20%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

mat-sidenav a.mat-mdc-list-item{
  border-radius: 0px !important;
  //border-bottom: 1px solid rgba(0, 106, 106, 0.5);
  max-width: 90%;
}

mat-expansion-panel{
  box-shadow: none !important;
  min-width: 15%;
}

mat-sidenav{
  min-width: 20%;
  
}

@media screen and (max-width: 500px){
  mat-sidenav{
    min-width:50% !important;  
  }
}

mat-panel-title{
  display: inline-flex;

}

mat-panel-title mat-icon{
  padding-right: 1%;
}