<mat-sidenav-container class="sidenav-container" >
    <mat-sidenav #sidenav mode="side" [opened]="isMenuOpen()">
      <mat-nav-list>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title matTooltip="Inicio"> 
              <mat-icon> home </mat-icon> Inicio
            </mat-panel-title> 
          </mat-expansion-panel-header> 
          <a mat-list-item (click)="redirectToHome()">Inicio</a>  
        </mat-expansion-panel> 

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title matTooltip="Clínicas">
              <mat-icon> health_and_safety </mat-icon> Clínicas
            </mat-panel-title>
          </mat-expansion-panel-header>

          <a mat-list-item (click)="redirectToClinics()">Listado de clínicas</a>
          <a mat-list-item (click)="redirectToClinics()">Clinica2</a>
          <a mat-list-item (click)="redirectToClinics()">Clinica3</a>

        </mat-expansion-panel> 

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon> calendar_today </mat-icon> Citas y Calendario
            </mat-panel-title>
          </mat-expansion-panel-header>

          <a mat-list-item (click)="redirectToClinics()">Calendario</a>
          <a mat-list-item (click)="redirectToClinics()">Citas</a>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon> groups </mat-icon>Pacientes
            </mat-panel-title>
          </mat-expansion-panel-header>

          <a mat-list-item (click)="redirectToClinics()">Listado de pacientes</a>


        </mat-expansion-panel>
      
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content style="padding: 1%">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
  