<mat-sidenav-container class="sidenav-container" >
    <mat-sidenav #sidenav mode="side" opened="true">
      <mat-nav-list>
        
        <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
          <mat-expansion-panel-header>
            <mat-panel-title>Clínicas</mat-panel-title>
            <mat-panel-description>
              <mat-icon> health_metrics </mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <a mat-list-item (click)="redirectToClinics()">Listado de clínicas</a>
          <a mat-list-item (click)="redirectToClinics()">Clinica2</a>
          <a mat-list-item (click)="redirectToClinics()">Clinica3</a>

        </mat-expansion-panel> 

        <a mat-list-item href="#patients">Patients</a>
        <a mat-list-item href="#billing">Billing</a>
        <a mat-list-item href="#settings">Settings</a>
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
  