<h1>Listado de citas</h1>

<div class="align-end">
  <button mat-flat-button (click)="createAppointment()">
    <mat-icon>add</mat-icon>
    Nueva cita
  </button>
</div>

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="FECHA">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let appointment"> {{getAppointmentDate(appointment)}} </td>
  </ng-container>
  <ng-container matColumnDef="HORA">
    <th mat-header-cell *matHeaderCellDef> Hora </th>
    <td mat-cell *matCellDef="let appointment"> {{getAppointmentTime(appointment)}} </td>
  </ng-container>
  <ng-container matColumnDef="PACIENTE">
    <th mat-header-cell *matHeaderCellDef> Paciente </th>
    <td mat-cell *matCellDef="let appointment"> {{getPatientName(appointment)}} </td>
  </ng-container>
  <ng-container matColumnDef="DENTISTA">
    <th mat-header-cell *matHeaderCellDef> Dentista </th>
    <td mat-cell *matCellDef="let appointment"> {{getDentistName(appointment)}} </td>
  </ng-container>
  <ng-container matColumnDef="ACCIONES">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let appointment">
      <button mat-icon-button (click)="editAppointment(appointment)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteAppointment(appointment)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>