.spacer {
    flex: 1 1 auto;
}

button mat-icon.menu{
  color: var(--mat-sys-background);
}

i.ri-menu-line {
  color: var(--mat-sys-background);
}

.user-name{
  font-size: 1.2rem !important;
}

.user-id{
  color: var(--mat-sys-surface-dim) !important;
  font-size: 1rem !important;
  font-weight: bold !important;
}